@page
@model HospitalManagement.Pages.Medicines.ListModel
@{
}
<form method="post">
 
         <h6 class="text-danger">@Html.ValidationSummary()</h6>
         <h2 class="text-info">Vaccines</h2>
    </div>
     
    

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">VaccineName</th>
                <th scope="col">Status</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach(var m in @Model.Medicines)
            {
                <tr>
                    <td>@m.Id</td>
                    <td>@m.VaccineName</td>
                    <td>@m.Status</td>
                    <td><a href="/Medicines/Edit/@m.Id" class="btn btn-outline-info" role="button"> 
                        <i class="fa fa-edit" > </i> </a> </td>
                </tr>
            }
        </tbody>

    </table>
</form>
